@model IEnumerable<lifetoolsinc.Models.Attributes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-body bg-white">
    <p>
        @*@Html.ActionLink("Buy Codes", "Create",new { @class="btn btn-info"})*@

    </p>
    <div class="col-xs-12 pull-right">
        <div class="pull-left">
            <h3 class="text-warning">Attributes</h3>
          
        </div>
        <div class="pull-right">
            <ul class="social-links list-inline pull-right" style="height:15px">
                <li>
                    <a href="@Url.Action("Create", "Attributes")" title="Add Attribute" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Details"><i class="fa fa-plus"></i></a>

                </li>

            </ul>
        </div>

        <!-- /.modal -->
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pageid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassCategoryid)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OrderBy(p=>p.pageid))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pageid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassCategoryid)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    <ul class="social-links list-inline" style="height:15px">
        <li>
            <a href="@Url.Action("Create", "Attributes")" title="Add Attribute" data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Details"><i class="fa fa-plus"></i></a>
  
        </li>
   
    </ul>

</div>



<p>

</p>

