@model lifetoolsinc.Models.CandidatesResults

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layoutassmt.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CandidatesResults</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.attribute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attribute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassCategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassCategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.accesskey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
