@model lifetoolsinc.Models.Answers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layoutassmt.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Answers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attribute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attribute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.classid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetaken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orguid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orguid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pageid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pageid)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
